body, html {
    font-family: "Source Sans Pro", sans-serif;
}

.feature-title {
    color: black;
    display: inline-block;
    margin-right: 15px;
}

.feature-blurb {
    color: #303030;
    margin-bottom: 25px;
    display: inline-block;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
    color: white;
    margin: auto;
}

#intro #code-logo {
    font-size: 200px;
}

#typography {
    /* background-color: white; */
}

#typography #text-list {
    /* border: 1px solid #191919; */
    display: inline-block;
    padding: 1vh 2vw;
}

#article-header p {
    margin-bottom: 5vh;
}

#article-header h2, #article-header h4, #article-header p {
    text-transform: uppercase;
}

#article-content p {
    margin-bottom: 20px;
}

#grid {
    background-color: rgb(100, 200, 250);
}

#grid-column-list {
    padding: 0 0 5vh 0;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
}

#grid-column-list .col {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(https://static.pexels.com/photos/351978/pexels-photo-351978.jpeg) center center;
    border: 3px solid rgb(100, 200, 250);
    background-attachment: fixed;
    color: white;
    padding: 10px 0;
}

#grid-column-list .col p {
    margin: 0;
}

#grid-features-showcase .col {
    border: 10px solid rgb(100, 200, 250);
}
