/* TODO: License and name
 * ----------[ Table of Contents ]----------
 *  > 1. Global & Base Styles
 *  > 2. Typography
 *  > 3. Elements
 *  > 4. Grid
 *  > 5. Utilities
 * ----------------------------------------- */

/* -----------[ 1. Global & Base Styles ]---------- */

@import url('https://fonts.googleapis.com/css?family=Raleway:400'); /* Raleway inspired by Skeleton*/

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    background-color: #292929;
    color: #e8e8e8;
}

/* 1 rem = 10px */
html { font-size: 62.5%; }

/* -----------[ 2. Typography ]---------- */

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-weight: normal;
}

/*   Fallback size      Responsive size   line height        letter spacing*/
h1 { font-size: 4rem;   font-size: 7vh;   line-height: 1.2;  letter-spacing: .2rem;   }
h2 { font-size: 3.6rem; font-size: 5.3vh; line-height: 1.25; letter-spacing: .1rem;   }
h3 { font-size: 3.2rem; font-size: 4.6vh; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: 2.8rem; font-size: 3.9vh; line-height: 1.35; letter-spacing: -.05rem; }
h5 { font-size: 2.4rem; font-size: 3.3vh; line-height: 1.4;  letter-spacing: 0;       }
h6 { font-size: 2.1rem; font-size: 3vh;   line-height: 1.45; letter-spacing: 0;       }

/* PARAGRAPHS */

p { font-size: 1.7rem; /* Fallback */ font-size: 2.7vh; margin: 0; }
p.lead { font-size: 2rem; font-size: 3.3vh; font-weight: 600; }

/* -----------[ 3. Elements ]---------- */

/* HR DIVIDERS */
hr.divider { max-width: 1500px; margin: 7vh auto; border: 1px solid #242424; }
hr.divider-small { max-width: 1500px; margin: 3vh auto; border: 1px solid #242424; }

/* -----------[ 4. Grid ]---------- */
.row { margin-bottom: 4px; }
.column, .columns { float: left; box-sizing: border-box; width: 100%; }

@media (min-width: 550px) {
    .column, .columns { margin-left: 4%; padding: 0.5vh 0; }
    .column:first-child, .columns:first-child { margin: 0; }

    .col-1 { width: 4.66666666667%; }
    .col-2 { width: 13.3333333333%; }
    .col-3 { width: 22%; }
    .col-4 { width: 30.6666666667%; }
    .col-5 { width: 39.3333333333%; }
    .col-6 { width: 48%; }
    .col-7 { width: 56.6666666667%; }
    .col-8 { width: 65.3333333333%; }
    .col-9 { width: 74.0%; }
    .col-10 { width: 82.6666666667%; }
    .col-11 { width: 91.3333333333%; }
    .col-12 { width: 100%; margin-left: 0; }
}
/* -----------[ 5. Utilities ]---------- */

.container { position: relative; width: 100%; max-width: 1200px; padding: 0 0.5rem; margin: 0 auto; box-sizing: border-box; }

.container-full { position: relative; width: 100%; padding: 0 0.5rem; margin: 0 auto; box-sizing: border-box; }


.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

@media (max-width: 960px) {
    .container { padding: 0; }
}

.container:after, .row:after, .u-cf {
    content: "";
    clear: both;
    display: table;
}
