.container {
    /* Border for testing purposes */
    /* border-left: 1px solid #212121; */
    /* border-right: 1px solid #212121; */
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

#intro #code-logo {
    font-size: 20rem;
}

#typography #headers-list {
    border: 1px solid #191919;
    display: inline-block;
    padding: 1vh 2vw;
}
